@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  button{
    &:focus {
        box-shadow: none;
    }
  }
  input {
    &:focus {
      box-shadow: none;
  }
  }
}

body {
  margin: 0;
}

.music-box  {
  list-style: none;
}

.music-box li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #dbdbdb;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 50%;
  overflow-x: hidden;
}
.music-box li span {
  font-size: 18px;
}
.music-box li img {
  background-color: white;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 5px;
}
.music-box li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}